 /*Main version*/    
 /*Formating for multiple choice options + nextbtn + message*/
   #option1,#option2,#option3,#next,#message,#message
    {
    position:absolute;
	/*border-radius: 25px;*/
	border-radius: 27px;
    margin-left:60%;
    width:360px;
    height:50px;
	color: white;
    font-family:Arial;
    font-weight:bold;
    font-size: 12pt;
	text-align: center;
	line-height: 50px;
	border-color: white;
	/*border-color: gray;*/
	border-style: solid;
	background:black;  
    }    

	/*Multiple choice options position*/
    #option1{
    position:absolute;
    margin-top:24%;
    z-index:3; 
    }
    
    #option2{
    position:absolute;
    margin-top:30%;
    z-index:4;
    }
   
    #option3{
    position:absolute;
    margin-top:36%;
    z-index:5;
    }
       
    	
	#question {
    position:absolute;
    margin-top:1%;
    margin-left:1%; 
	color: white;
    font-family:Arial;
    font-weight:bold;
    font-size: 24pt;
	text-shadow: 2px 2px 4px #000000; 
   	background:opacity: 0;
	z-index:2;  
    }
    
	/*Position nextbtn*/
	#next {
	   margin-top:42%;
	   z-index:12;
	}
	
	/*Position answer input message*/
	#message {
	 margin-left:6%;
     margin-top:17%;
     z-index:13;
	 /*Format variation*/
	 border-radius: 0px;
	 font-size: 24pt;
	 text-shadow: 2px 2px 4px #000000; 
   	 background:opacity: 0;
     display:none;	 
	} 
	
	body{
	 /*background: orange;*/
	 /*background-image: linear-gradient(to right, red , yellow);*/
	 background-image: linear-gradient(to right, gray , white);
	 /*background-image: linear-gradient(to right, blue , aqua);*/
   }
	